<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
    <div class="display-users"></div>
    <span>
      <button class="previous-page" hidden>Previous page</button>
      <button class="next-page" hidden>Next page</button>
    </span>
    <br>
    <span><a class="btn" href="/">Back to home page</a></span>
    <div class="error"></div>
  </main>

  <script src="/js/getUsers.js"></script>
</body>
</html>